<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{base :: head}"></head>
<body>
	<head th:replace="~{base :: header}"></head>
	
	<div class="container body-content">
		<div class="alert alert-success text-center" role="alert" th:if="${param.result}" th:text="#{message.event.event_sent}"></div>
			
		<div class="row text-center">
			<h3>
				<p th:text="#{message.navbar.send_event}"></p>
			</h3>
			
			<form th:action="@{/evento/cadastrar}" th:object="${evento}" method="post" class="row g-3">
				<div class="mb-3">
					<input id="nome" type="text" th:field="*{nome}" th:placeholder="#{message.event.name_evento}" class="form-control" />
					<p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}" />
				</div>
				
				<div class="col-md-6">
					<label for="dataInicio" th:text="#{message.event.date_start}"></label>
					<input type="date" id="dataInicio" th:field="*{dataInicio}" class="form-control" />
					<p th:if="${#fields.hasErrors('dataInicio')}" th:errorclass="error" th:errors="*{dataInicio}" />
				</div>
				
				<div class="col-md-6">
					<label for="dataFim" th:text="#{message.event.date_end}"></label>
					<input type="date" id="dataFim" th:field="*{dataFim}" class="form-control" />
					<p th:if="${#fields.hasErrors('dataFim')}" th:errorclass="error" th:errors="*{dataFim}" />
				</div>
				
				<div class="mb-3">
					<label for="tipoEvento" th:text="#{message.event.type_event}"></label>
					<select class="form-select" id="tipoEvento" th:field="*{tipoEvento}" aria-label="Default select example">
						<option value="PRESENCIAL" th:text="#{message.event.type_presencial}"></option>
						<option value="ON_LINE" th:text="#{message.event.type_online}"></option>
						<option value="HIBIRDO" th:text="#{message.event.type_hibrid}"></option>
					</select>
				</div>
				
				<div class="mb-3">
					<input type="text" id="site" th:field="*{site}" th:placeholder="#{message.event.type_site_evento}" class="form-control" />
					<p th:if="${#fields.hasErrors('site')}" th:errorclass="error" th:errors="*{site}" />
				</div>

				<hr>
							
				<div class="mb-12">
					<button type="submit" class="btn btn-primary" th:text="#{message.event.send}" /></button>
				</div>
				
				<div class="mb-12">
					<p th:text="#{message.event.notice}" class="alertMessage"></p>
				</div>
			</form>
		</div>
	</div>
	
	<head th:replace="~{base :: footer}"></head>
</body>
</html>