* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-clock {
	background-image: radial-gradient(circle, #0077ff 0%, #00ffaa 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.clock {
	border: red;
  	border-radius: 5px;
  	border-style: double;
  	border-width: 3px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: auto;
  	
  	position: relative;
  	
}