.errorMessage {
	background-color: red;
	border: solid 2px brown;
	border-radius: 5px;
	color: aliceblue;
	font-style: bold;
	opacity: 70%;
	margin-top: 7px;
	text-align: center;
}

.successMessage {
	background-color: green;
	border: solid 2px darkgreen;
	border-radius: 5px;
	color: aliceblue;
	font-style: bold;
	opacity: 70%;
	margin-top: 7px;
	text-align: center;
}