<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
	<head th:replace="~{base :: header}"></head>
	
	<div class="container body-content">
		<div class="row" style="padding-top: 5px;">
			<div class="intro text-center">
		    	<div class="container container-header">
					<div class="row gx-5 align-items-center">
						<div class="row gx-5 align-items-center">
							<div class="col-lg-12">
								<p class="lead fw-normal text-muted mb-5" th:text="#{message.download_app}"></p>
								
								<div class="col-lg-12">
									<a class="me-lg-3 mb-4 mb-lg-0" href="https://play.google.com/store/apps/details?id=br.com.rodrigoamora.eventosti" target="_blank"><img class="app-badge" th:src="@{/assets/img/google-play-badge.svg}" width="170" height="90" alt="PlaySotre" /></a>
								</div>
								
								<div class="col-lg-12">
				                	<a class="me-lg-3 mb-4 mb-lg-0" href="https://apps.apple.com/us/app/eventos-ti/id6630363975" target="_blank"><img class="app-badge" th:src="@{/assets/img/app-store-badge.svg}" width="170" height="90" alt="AppStore" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:src="@{/js/download_app.js}"></script>
	<head th:replace="~{base :: footer}"></head>
</body>
</html>
