<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
	<head th:replace="~{base :: header}"></head>
	
	<div class="container body-content">
		<div class="row" style="padding-top: 5px;">
			<div class="intro text-center">
		    	<div class="container container-header">
					<div class="row gx-5 align-items-center">
						<div class="intro-text">
							<h1 th:text="#{message.app_name}"></h1>
							
							<span class="lead fw-normal text-muted mb-5" th:text="#{message.description}"></span><br>
							<span class="lead fw-normal text-muted mb-5" th:text="#{message.description2}"></span>
						</div>
						
						<div class="row gx-5 align-items-center">
							<div class="col-lg-12">
								<p class="lead fw-normal text-muted mb-5" th:text="#{message.download_app}"></p>
								
								<a class="me-lg-3 mb-4 mb-lg-0" href="https://play.google.com/store/apps/details?id=br.com.rodrigoamora.eventosti" target="_blank"><img class="app-badge" th:src="@{/assets/img/google-play-badge.svg}" width="150" height="70" alt="PlaySotre" /></a>
				                <a class="me-lg-3 mb-4 mb-lg-0" href="https://apps.apple.com/us/app/eventos-ti/id6630363975" target="_blank"><img class="app-badge" th:src="@{/assets/img/app-store-badge.svg}" width="150" height="70" alt="AppStore" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row text-center">
			<div class="md-3"></div>
			<div class="md-3 clock"></div>
			<div class="md-3"></div>
		</div>
		
		<div id="listaEventos" class="col-lg-12">
			
				<h3 class="main-title text-center" th:text="#{message.event.events}"></h3>
			
			
			<div th:each="evento : ${eventos}" class="text-center">
				<div class="card" style="margin-bottom: 7px;">
					<div class="card-header">
						<h5>
							<a th:href="@{/verEvento(id=${evento.id})}"><span th:text="${evento.nome}"></span></a>
						</h5>
					</div>
					
				  	<div class="card-body">
				    	<p class="card-text">
							<b th:text="#{message.event.date_start}"></b>
							<span th:text="${#temporals.format(evento.dataInicio, 'dd/MM/yyyy')}"></spa>
						</p>
				    
					
						<p class="card-text">
							<b th:text="#{message.event.date_end}"></b>
							<span th:text="${#temporals.format(evento.dataFim, 'dd/MM/yyyy')}"></span>
						</p>
						<hr>
						<a th:href="${evento.site}" target="_blank">
							<span th:text="${evento.site}"></span>
						</a>
				  	</div> 
				 </div>
			</div>
		</div>
		<!-- Fim da lista de eventos -->
		
		<div class="row">
			<ul class="pagination pagination-md justify-content-center">
				<nav th:if="${eventos.totalPages > 0}" aria-label="Page navigation example"
				     th:each="pageNumber : ${pageNumbers}">
					<li class="page-item">
						<a th:href="@{/(size=${eventos.size}, page=${pageNumber})}"
					        th:text=${pageNumber}
							class="page-link"></a>
					</li>
				</nav>
			</ul>
		</div>
		<!-- Fim da pafinação -->
	</div>
	
	<footer th:replace="~{base ::footer}"></footer>
</body>
</html>
